<h1 class="text-center">Pedidos</h1>

<div class="container">

  <div class="row">
    <div class="col-md-9">

      <form [formGroup]="formatoCliente" (ngSubmit)="guardarPedido()">
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre Cliente</label>
          <input type="text" 
                 class="form-control" 
                 placeholder="Ingrese Nombre Cliente"
                 formControlName="nombre" 
                 name="nombre">
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Nit Cliente</label>
          <input type="text" 
                 class="form-control" 
                 placeholder="Ingrese nit Cliente" 
                 formControlName="nit" 
                 name="nit">
        </div>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th class="bg-primary" style="color: white">#</th>
              <th class="bg-primary" style="color: white">Producto</th>
              <th class="bg-primary" style="color: white">Precio Unidad</th>
              <th class="bg-primary" style="color: white">Cantidad</th>
              <th class="bg-primary" style="color: white">Precio Total</th>
              <th class="bg-primary" style="color: white">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1 </th>
              <td>nombre </td>
              <td>precio </td>
              <td>cantidad </td>
              <td>precio </td>
            </tr>
          </tbody>
        </table>
        <br>
        <h3>Total de la compra:  total </h3>

        <button type="submit" class="btn btn-primary">Guardar Pedido</button>

      </form>



    </div>
  </div>
<br><br>
  <div class="row">
    <div class="col-md-12">

      <button type="button" class="btn btn-primary" (click)="activarProductos = !activarProductos">Productos</button>
      <br><br>

      <div *ngIf="activarProductos && listItems.length > 0" >
        <md-grid-list cols="3" rowHeight="1:1" >

          <div *ngFor="let item2 of listItems ">
            
         
             <md-grid-tile *ngIf="!item2.borrado">

                  <md-card class="example-card" >
                    
                    <md-card-header>
                      <md-card-title style="padding-top:50px "><h3>{{ item2.nombre | uppercase }}</h3></md-card-title>
                    </md-card-header>
                    <img md-card-image style=" width:290px; height: 180px" [src]="item2.imagen">
                    <md-card-content>
                      <p>
                        Cantidad disponible = {{ item2.cantidad }} kilos.<br>
                        Almacen = {{item2.tipoAlmacen}}
                      </p>
                    </md-card-content>
                    <md-card-actions>
                      <button class="btn btn-outline-primary" data-toggle="modal" data-target="#detalleModalPedido" md-button (click) = "setDetalleKey(item.$key)">Detalle</button>
                      <button class="btn btn-outline-primary" data-toggle="modal" data-target="#agregarModalPedido" md-button (click) = "setEditKey(item.$key)">Agregar</button>
                    </md-card-actions>
                    <br>
                  </md-card>

            </md-grid-tile>

          </div>

        </md-grid-list>
      </div>


    </div>
  </div>

      <div class="row" *ngIf="listItems.length == 0 && !activarProductos" >

        <h1>No hay datos que mostrar</h1>
        
      </div>
</div>

<!-- Modal Detalle -->
<div class="modal fade" id="detalleModalPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Detalle</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <h2>{{ item.nombre | uppercase }}</h2> <br>
            <h5> <strong> Precio por Kilo : </strong> {{ item.precio }} </h5> <br>
            <h5> <strong> Cantidad Disponible: </strong> {{ item.cantidad }} </h5> <br>
            <h5> <strong> Descripcion: </strong> {{ item.detalle }} </h5> <br>

          </div>
        </div>

        <div class="row">
          <img [src]="item?.imagen" style="width:400px; height:300px " alt="">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Agregar -->
<div class="modal fade" id="agregarModalPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #cerrarAgregar>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Cantidad:</label>
            <input #cantidadItems type="number" class="form-control" id="cantidad" [(ngModel)]="cantidad" name="cantidad">
          </div>
          <div>
            <h4>Precio por Kg: {{ item.precio }} Bs</h4>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cerrar</button>
        <button type="button" class="btn btn-primary" (click) = "agregarItems(cantidad.value)" >Aceptar</button>
      </div>
    </div>
  </div>
</div>