<div class="container">

    <div class="row" *ngIf="_auth.getProfile().user_metadata.tipo_user == 'admin' || _auth.getProfile().user_metadata.tipo_user == 'comercial'">
        
            <button  type="button"
                        (click)= "clickPedidos()"
                        class="btn btn-primary btn-block justify-content-between buton1 btn-lg">Pedidos
            </button>
            <button  type="button"
                        (click)= "clickDespachos()"
                        class="btn btn-primary btn-block justify-content-between buton1 btn-lg">Despacho
            </button>
            <button  type="button"
                        (click)= "clickPrecios()"
                        class="btn btn-primary btn-block justify-content-between buton1 btn-lg">Precios
            </button>
            <button  type="button"
                        (click)= "clickClientes()"
                        class="btn btn-primary btn-block justify-content-between buton1 btn-lg">Clientes
            </button>

    </div>
    <br>

    <div class="row" *ngIf="_auth.getProfile().user_metadata.tipo_user == 'admin' || _auth.getProfile().user_metadata.tipo_user == 'produccion'">
        
            <button  type="button"
                        (click)= "clickProduccion()"
                        class="btn btn-primary btn-block justify-content-between buton1 btn-lg">Produccion
            </button>
            <button  type="button"
                        (click)= "clickAlmacenes()"
                        class="btn btn-primary btn-block justify-content-between buton1 btn-lg">Almacenes
            </button>

    </div>
    <br>        

    <div class="row" *ngIf="_auth.getProfile().user_metadata.tipo_user == 'admin' || _auth.getProfile().user_metadata.tipo_user == 'cobro'">
        
            <button  type="button"
                        (click)= "clickCobros()"
                        class="btn btn-primary btn-block justify-content-between buton1 btn-lg">Cobros
            </button>
    </div>
  
 
</div>
