<div class="container">

  <div class="row">
    <div class="col-md-12">

        <form class="form-inline">
          <input #nitCliente class="form-control mr-sm-2" type="number" placeholder="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="buscarPorNit(nitCliente.value)" >Buscar por  nit</button>
        </form>

        <br><br>

        <table class="table table-striped">
        <thead>
          <tr>
            <th class="bg-primary" style="color: white" >Nombre Cliente</th>
            <th class="bg-primary" style="color: white" >Nit CLiente</th>
            <th class="bg-primary" style="color: white" >Total Inicial</th>
            <th class="bg-primary" style="color: white" >Porcentaje Descuento</th>
            <th class="bg-primary" style="color: white" >Total Final</th>
            <th class="bg-primary" style="color: white" >Detalle</th>
            <th class="bg-primary" style="color: white" >Fecha</th>
          </tr>
        </thead>
        <tbody *ngIf="listTransaccionesCliente.length > 0">
          <tr *ngFor="let transaccion of listTransaccionesCliente">
            <td>{{ transaccion.nombreCliente }}</td>
            <td>{{ transaccion.nitCliente }}</td>
            <td>{{ transaccion.totalAnterior }}</td>
            <td>{{ transaccion.porcentajeDescsuento }}</td>
            <td>{{ transaccion.totalFinal }}</td>
            <td>{{ transaccion.detalle }}</td>
            <td>{{ transaccion.date }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>