<div class="container">

  <div class="row">
    <div class="col-md-12">

        <form class="form-inline">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

        <br><br>

        <table class="table table-striped">
        <thead>
          <tr>
            <th class="bg-primary" style="color: white" >#</th>
            <th class="bg-primary" style="color: white" >Nit Cliente</th>
            <th class="bg-primary" style="color: white" >Nombre CLiente</th>
            <th class="bg-primary" style="color: white" >Precio Total</th>
            <th class="bg-primary" style="color: white" >Estado</th>
            <th class="bg-primary" style="color: white" >Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>