<div class="container">
  
  <div class="row">
    <div class="col-md-12">


      <button type="button" class="btn btn-primary" (click)="activarAgregarAlmacen = !activarAgregarAlmacen" >Agregar Almacen</button>
      
      <br><br>

        <form *ngIf="activarAgregarAlmacen">
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre Almacen</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese Nit Cliente">
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Codigo Almacen</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese Nombre CLiente">
        </div>

      </form>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <h1>Almacen Produ</h1>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="bg-primary" style="color: white" >#</th>
            <th class="bg-primary" style="color: white" >Nit Cliente</th>
            <th class="bg-primary" style="color: white" >Nombre CLiente</th>
            <th class="bg-primary" style="color: white" >Precio Total</th>
            <th class="bg-primary" style="color: white" >Estado</th>
            <th class="bg-primary" style="color: white" >Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
