<div class="container">
  
  <div class="row">
    <div class="col-md-12">


      <button type="button" class="btn btn-primary" (click)="activarAgregarAlmacen = !activarAgregarAlmacen" >Agregar Almacen</button>
      
      <br><br>

        <form [formGroup]="formatoAlmacen" (ngSubmit)="guardarAlmacen()" *ngIf="activarAgregarAlmacen">
        <div class="form-group">
          <label for="formGroupExampleInput">Nombre Almacen</label>
          <input type="text" 
                 class="form-control" 
                 id="formGroupExampleInput" 
                 placeholder="Ingrese Nit Cliente"
                 [(ngModel)]="almacen.nombre"
                 name="nombre"
                 formControlName="nombre">
        </div>

        <button [disabled] ="!formatoAlmacen.valid" type="submit" class="btn btn-primary">Guardar Almacen</button>


      </form>
      
    </div>
  </div>

  <div class="row" *ngIf="listAlmacenes">
    <div class="col-md-12" *ngFor="let almacen of listAlmacenes ; let i = index" >

      <h1>{{ almacen._nombre | uppercase }}</h1>
      
      <table class="table table-striped" *ngIf="almacen._items">
        <thead>
          <tr>
            <th class="bg-primary" style="color: white" >#</th>
            <th class="bg-primary" style="color: white" >Nombre Item</th>
            <th class="bg-primary" style="color: white" >Precio</th>
            <th class="bg-primary" style="color: white" >Cantidad</th>
            <th class="bg-primary" style="color: white" >Detalle</th>
            <th class="bg-primary" style="color: white" >Mover Item</th>
          </tr>
        </thead>

        <tbody *ngFor="let item of almacen._items">
          <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ item.nombre }}</td>
            <td>{{ item.precio }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.detalle }}</td>
            <td>
              <select class="form-control" type="text" name="prioridad" >
                <option *ngFor="let almac of listAlmacenes" [value]="almac.nombre">{{ almac._nombre }}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
